$alpha-white: rgba(255, 255, 255, 0.4);
$alpha-black: rgba(0, 0, 0, 1);

.measure-tool-svg-overlay {
  position: absolute;
  top: -4000px;
  left: -4000px;
  width: 8000px;
  height: 8000px;
}

.cover-circle {
  fill: white;
  stroke: black;
  stroke-width: 2.5px;
}
.touch-circle {
  fill: transparent;
  cursor: pointer;
}

.grey-circle {
  fill: rgb(252, 252, 252);
  stroke: rgb(100, 100, 100);
  stroke-width: 2.5px;
  pointer-events: none;
}

.base-line {
  fill: none;
  stroke: black;
  stroke-width: 2.5px;
  &.inverted {
    stroke: white;
  }
}

.aux-line {
  fill: none;
  stroke: transparent;
  stroke-width: 12px;
  cursor: pointer;
}

.segment-measure-text {
  pointer-events: none;
  stroke: black;
  text-shadow: -2.4px -2.4px $alpha-white, -2.4px 2.4px $alpha-white,
    2.4px 2.4px $alpha-white, 2.4px -2.4px $alpha-white, -2.4px 0 $alpha-white,
    0 2.4px $alpha-white, 2.4px 0 $alpha-white, 0 -2.4px $alpha-white;

  &.inverted {
    stroke: white;
    text-shadow: -2.4px -2.4px $alpha-black, -2.4px 2.4px $alpha-black,
      2.4px 2.4px $alpha-black, 2.4px -2.4px $alpha-black, -2.4px 0 $alpha-black,
      0 2.4px $alpha-black, 2.4px 0 $alpha-black, 0 -2.4px $alpha-black;
  }
}

.node-measure-text {
  stroke: black;
  text-shadow: -2.4px -2.4px $alpha-white, -2.4px 2.4px $alpha-white,
    2.4px 2.4px $alpha-white, 2.4px -2.4px $alpha-white, -2.4px 0 $alpha-white,
    0 2.4px $alpha-white, 2.4px 0 $alpha-white, 0 -2.4px $alpha-white;
  pointer-events: none;

  &.inverted {
    stroke: white;
    text-shadow: -2.4px -2.4px $alpha-black, -2.4px 2.4px $alpha-black,
      2.4px 2.4px $alpha-black, 2.4px -2.4px $alpha-black, -2.4px 0 $alpha-black,
      0 2.4px $alpha-black, 2.4px 0 $alpha-black, 0 -2.4px $alpha-black;
  }

  &.head-text {
    visibility: hidden;
  }
}
