$font-family: Roboto, Arial, sans-serif;
.measure-tool-tooltip {
  font-family: $font-family;
  margin-top: 4px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  padding: 14px;
  min-width: 256px;
  line-height: 19px;
  overflow: hidden;
  pointer-events: none;
}